body {
  font-family: "Albert Sans", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: url(../images/weather.jpg);
  opacity: 0.85;
  background-size: cover;
  background-position: center;
}
h3 {
  font-size: 30px;
  color: #232323;
  font-weight: 800;
  line-height: 40px;
}
h4 {
  font-size: 27px;
  color: #34373d;
  font-weight: 500;
  margin-bottom: 5px;
}
a {
  font-weight: normal;
  text-decoration: none;
}
ul {
  list-style: none;
  text-align: right;
  font-size: 18px;
  color: #a6abb5;
  line-height: 25px;
}
.app-wrapper {
  display: block;
  margin: 50px auto;
  max-width: 700px;
}
.weather-app {
  margin: 50px auto 20px;
  padding: 35px;
  border: 1.5px solid #dadde1;
  border-radius: 20px;
  box-shadow: 0 5px 5px -2px #888;
  background: #f9fafb;
}
#searchForm {
  font-size: 17px;
  margin-bottom: 7px;
}
#placeInput {
  line-height: 30px;
  margin-right: 10px;
}
#searchButton {
  line-height: 30px;
  padding: 3px 10px 3px 10px;
  margin-right: 15px;
}
#currentLocationButton {
  line-height: 30px;
  padding: 3px 10px 3px 10px;
}
#description {
  font-size: 14px;
  text-transform: capitalize;
}
.currentWeatherSymbol {
  display: block;
  position: relative;
  left: 0;
}
.dailyForecast {
  text-align: center;
  font-size: 16px;
  color: #4f4f4f;
  line-height: 25px;
}
.credit {
  color: #fff;
}
